.line-vertical {
    margin-top: 16%;
    display: flex;
}

.line {
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    background: #08B98C;
    height: 14px;
}

.line_shadow {
    margin-left: auto;
    margin-right: auto;
    width: 3em;
    height: 15px;
    background: rgb(246, 246, 246);
}