.img-homes-size{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-homes{
    padding-top: 3.125rem;
    padding-bottom:3.125rem;
}

.texte-homes h2{
    font-weight: bold;
    font-size: 1.6rem;
}

.texte-homes p{
    color:#CBCBCB;
    margin-top: 1.06rem;
}