.img-homes-size {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-homes {
    padding-top: 3rem;
    padding-bottom: 3rem;

}

.texte-homes h2 {
    font-weight: bold;
    font-size: 2rem;
}

.texte-homes p {
    color: #CBCBCB;
    margin-top: 1rem;
}

@media (min-width:767px) and (max-width:1024px) {
    .flex-main-globa{
        display: flex;
        justify-content: space-around;
    }

    .texte-homes {
        width: 43%;
    }

    .img-homes {
        width: 57%;
        padding-right: 2rem;
    }

    .texte-homes h2 {
        padding-top: 7rem;
    }

    .texte-homes p {
        font-size: 1rem;
        margin-top: 2rem;
    }
}

@media(min-width:1025px) {
    .flex-main-globa{
        display: flex;
        justify-content: space-around;
    }

    .img-homes {
        width: 50%;
        padding-right: 2rem;
    }

    .texte-homes {
        width: 50%;
        padding-top: 9rem;
    }

    .texte-homes p {
        font-size: 2rem;
    }


}