/* header */

#main-header {
    background: url("../Images/banner.jpg");
    background-size: cover;
}


.container {
    padding: 1rem;
}

.global-header h1 {
    color: white;
    font-size: 1.25rem;
}

#burger-menu {
    cursor: pointer;
    height: 1.6875rem;
    width: 1.6875rem;
    z-index: 2;
    position: absolute;
    top: 2.05rem;
    left: 88%;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: #fff;
    display: block;
    height: 0.25rem;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span {
    right: 0rem;
    top: 0.8125rem;
    width: 1.6875rem;
}

#burger-menu span:before {
    left: 0px;
    top: -0.625rem;
    width: 1rem;
}

#burger-menu span:after {
    left: 0px;
    top: 0.625rem;
    width: 1.25rem;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 0.8125rem;
    width: 1.6875rem;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 1.6875rem;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

.texte-burger {
    color: white;
}

.texte-header h1 {
    color: white;
}

.texte-header {
    margin-top: 1.15rem;

}

.style-title-1 {
    color: #08e8a6;
    margin-bottom: 1.03rem;
    font-size: 1.600rem;
}

.style-title-2 {
    color: white;
    font-size: 3.625rem;
    margin-left: 0.02rem;
    /* font-size: 22rem; */
}

.lorem-header-texte {
    margin-top: 1.06rem;
    color: white;
    font-style: normal;
}

.button-header {
    padding: 0.5625rem 1.4375rem;
    line-height: normal;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    border-radius: 0.625rem;
    border: 0.125rem solid transparent;
    text-align: center;
    margin-top: 1.625rem;
    background-color: #08e8a6;
    width:6.36rem;
}

.header-img {
    background: url("../Images/top.png")no-repeat center;
    height: 19rem;
    background-size: contain;
    margin-top: 1.1rem;
}

.chevron {
    font-size: 3.875rem;
    margin-top: -4rem;
    position: relative;
}

.fa-chevron-circle-left:before,
.fa-circle-chevron-left:before {
    color: #08e8a6;
    position: absolute;
    top: 2.98rem;
    left: 1.01rem;
    ;
}

.fa-chevron-circle-right:before,
.fa-circle-chevron-right:before {
    color: #08e8a6;
    position: absolute;
    top: 2.98rem;
    left: 6.01rem;
}



@media (min-width:767px) and (max-width:1024px) {

    body {
        overflow-x: hidden;
    }

    #burger-menu {
        display: block;
        margin-top: -0.0625rem;
    }

    #menu-header.overlay {
        display: block;
        color: #fff;
        font-size: 2rem;
        text-decoration: none;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
        margin-top: 5.14rem;
    }

    .flex-header {
        display: flex;
        justify-content: space-evenly;
    }

    .texte-header {
        width: 16.49rem;
        margin-top: 3.08rem;
    }

    .header-img {
        width: 40%;
    }

    .fa-chevron-circle-left:before,
    .fa-circle-chevron-left:before {
        top: 2.98rem;
        left: 1.02rem;
    }

    .fa-chevron-circle-right:before,
    .fa-circle-chevron-right:before {
        top: 2.98rem;
        left: 6.02rem;
    }

    .header-img {
        margin-top: 1.02rem;
    }

}



@media (min-width:320px)and (max-width:766px) {
    body {
        overflow-x: hidden;
    }

    #burger-menu {
        display: block;
    }

    #menu-header.overlay {
        display: block;
        color: #fff;
        font-size: 2rem;
        text-decoration: none;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
        margin-top: 5.14rem;
    }
}

@media (min-width:1025px) {
    #burger-menu {
        display: none;
    }

    .global-header {
        display: flex;
        justify-content: space-around;
    }

    .texte-burger {
        margin-top: 1.5rem;
    }

    #menu-header {
        display: flex;
    }

    #menu-header li {
        padding-right: 1.25rem;
    }
    .flex-header{
        display: flex;
        justify-content: space-around;
    }
    .texte-header{
        margin-top: 3.15rem;
        width: 40%;
    }

    .header-img{
        width: 40%;
    }

}